
  body{
            background: url(busi.jpg) no-repeat center/cover;
             min-height: 100vh;
            color: white;
             text-shadow: 2px 2px 5px black;

        }
.gallery img {
            width: 250px;
            margin: 10px;
            border-radius: 10px;
        }

        footer {
            background: #333;
            color: white;
            text-align: center;
            padding: 15px;
        }



 


