body{
    background: rgba(0,0,0, 0.6), url(achuu.webp);
    font-size: 15px;
}
header{
    color: darkblue;
}
table{
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    float: right;
    height:70px;
}
ul{
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-right: 62px;
    margin-top: auto;
    font-size: 15px;
}

ul li a:hover{
    color: #ff7297
}
 table{
    width: 100;
 }
 th{
    font-weight: bold;
    border: 3px solid black;
 }
 td{
    border:3px solid black;
 }


